@model GameGenie.Models.Profile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot</title>
    <link rel="stylesheet" href="~/Content/LoginSheet.css" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Forgot Password
        </div>
        @using (Html.BeginForm("Forgot", "Home", FormMethod.Post))
        {
            <div class="field">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                <label>UserId</label>
            </div>
            <div class="field">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <label>Email</label>
            </div>
            <div class="field">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <label>New Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Change Password">
            </div>
        }
    </div>
</body>
</html>
